## Backend
HELP.md
backend/kayvault.json
backend/key.file
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### FIREBASE ###
backend/kayvault.json

### OKTETO LOGIN TOKEN ###
dockersecret

## FRONTEND
.DS_Store
frontend/node_modules
frontend/build
frontend/.svelte-kit
frontend/package
frontend/.env
frontend/.env.*
!.env.example
frontend/vite.config.js.timestamp-*
frontend/vite.config.ts.timestamp-*
**/.firebase
**/.firebaserc
frontend/build
